<!--
Acceuil avec mes infos persos
-->
<section style="height: 400px;">
	<div id="welcome" class="jumbotron">
		<span class="h2">{{name}}<br>{{job}}<br>{{school}}</span>

		<div class="row" style="margin-top: 50px;">
	        <div class="col-md-4">
	            <div><a href=""><i class="fa fa-facebook-square" style="font-size: 1.9em; color: black;"></i></a></div>
	        </div>

	        <div class="col-md-4">
	            <div><a href=""><i class="fa fa-twitter" style="font-size: 1.9em; color: black;"></i></a></div>
	        </div>

	        <div class="col-md-4">
	            <div><a href=""><i class="fa fa-linkedin" style="font-size: 1.9em; color: black;"></i></a></div>
	        </div>
	    </div>
	</div>
</section>

<!--
Formation
-->
<section style="">
	<div class="jumbotron">
		<div class="h1">Formation</div>
		<hr style="width: 100px; height: 50px; border-color: blue;">

		<div class="row">
			<div class="col-md-6 jumbotron">
				<div class="h3">Polytech Marseille</div>
				<div class="text-primary">3ème année Informatique - <span class="text-muted">2016-2019</span></div>
			</div>
			<div class="col-md-6 jumbotron">
				<div class="h3">UFR IM2AG(Informatique, <br> Mathématiques et <br>Mathématiques Appliquées de Grenoble)</div>
				<div class="text-primary">3ème année de licence Mathématiques et Informatique - <span class="text-muted">2015-2016</span></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 jumbotron">
				<div class="h3">UJF(Université Joseph Fourier de Valence) <br>actuelle UGA(Université Grenoble Alpes)</div>
				<div class="text-primary">1ère et 2ème année de licence Mathématiques et Informatique - <span class="text-muted">2013-2015</span></div>
			</div>
			<div class="col-md-6 jumbotron">
				<div class="h3">LKDK(Lycée Koné Danzié de Koutiala) - Mali</div>
				<div class="text-primary">Baccalauréat scientifique(mention Bien) - <span class="text-muted">2012-2013</span></div>
				<div class="text-success lead">Bourse d'excellence du gouvernement Malien</div>
			</div>
		</div>

	</div>
</section>

<!--
Expériences professionnelles
-->
<section style="">
	<div class="jumbotron">
		<div class="h1">Expériences professionnelles</div>
		<hr style="width: 100px; height: 50px; border-color: blue;">

		<div class="row">
			<div class="col-md-4 jumbotron">
				<div class="h3">2017</div>
				<div>
					<img src="/images/sudoku.png" alt="Jeu de sudoku" width="200" height="200">
				</div>
				<div class="text-primary">Projet universitaire</div>
				<div class="lead">Projet de conception d'un <br>jeu de logique Sudoku</div>
			</div>
			<div class="col-md-4 jumbotron">
				<div class="h3">2017</div>
				<div>
					<img src="/images/dataConverter.png" alt="DataConverter" width="200" height="200">
				</div>
				<div class="text-primary">Projet personnel</div>
				<div class="lead text-center">Création d’une application android <br>appelée DataConverter disponible sur <br><a href="#" target="_blank">play store</a> qui permet aux étudiants <br>en informatique de convertir les donnés binaire, <br>décimale, hexadécimale et ascii entre elles.</div>
			</div>
			<div class="col-md-4 jumbotron">
				<div class="h3">2017</div>
				<div>
					<img src="/images/mathsUtils.png" alt="utilitaire de mathématiques" width="200" height="200">
				</div>
				<div class="text-primary">Projet personnel</div>
				<div class="lead text-center">Création d’une application android <br>appelée utilitaire de Mathématiques disponible <br>sur <a href="#" target="_blank">play store</a> qui calcule le PGCD <br>et PPCM de deux ou plusieurs nombres, <br>calcule et réduit les fractions et calcule les <br>coéfficients de Bezout.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 jumbotron">
				<div class="h3">2017</div>
				<div>
					<img src="/images/logo.png" alt="pccift" width="250" height="200">
				</div>
				<div class="text-primary">Projet Freelance</div>
				<div class="lead">Développement du site Web de la <a href="http://pccift.org" target="_blank">chambre <br>de commerce et d'industrie franco-tunisienne(CCIFT)</a>.</div>
			</div>

			<div class="col-md-4 jumbotron">
				<div class="h3">2017</div>
				<div>
					<img src="/images/exomali.png" alt="ExoMali" width="200" height="200">
				</div>
				<div class="text-primary">Projet personnel</div>
				<div class="lead">Développement d'un site Web d'éducation collaboratif pour le Mali appelé <a href="https://www.exomali.com" target="_blank">ExoMali</a>.</div>
			</div>

			<div class="col-md-4 jumbotron">
				<div class="h3">2016</div>
				<div>
					<img src="/images/spaceex.png" alt="SpaceEx" width="200" height="200">
				</div>
				<div class="text-primary">Stage au laboratoire Verimag</div>
				<div class="lead text-center">Création d’une interface graphique <br>utilisateur pour piloter les calculs d’un outil <br>de calculs mathématiques appelé SpaceEx.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 jumbotron">
				<div class="h3">2016</div>
				<div>
					<img src="/images/arithmo.jpg" alt="arithmometre" width="200" height="200">
				</div>
				<div class="text-primary">Projet universitaire</div>
				<div class="lead text-center">Projet de conception en 3D de <br><a href="http://www.aconit.org/arithmometre/" target="_blank">l’arithmomètre de Thomas de Colmar</a>.</div>
			</div>
			<div class="col-md-4 jumbotron">
				<div class="h3">2015</div>
				<div>
					<img src="/images/squaro.png" alt="Jeu de squaro" width="200" height="200">
				</div>
				<div class="text-primary">Projet universitaire</div>
				<div class="lead text-center">Projet de conception du <br>jeu de logique Squaro.</div>
			</div>

			<div class="col-md-4 jumbotron">
				<div class="h3">2014</div>
				<div>
					<img src="/images/recherche.jpg" alt="Moteur de recherche" width="200" height="200">
				</div>
				<div class="text-primary">Projet universitaire</div>
				<div class="lead text-center">Projet de conception d’une <br>maquette de moteur de recherche.</div>
			</div>
		</div>

	</div>
</section>
<!--
Compétences
-->

<section>
	<div class="jumbotron">
		<div class="h1">Compétences</div>
		<hr style="width: 100px; border-color: blue;">
		<div class="h2">Langages de programmation</div>
		<div class="row" style="margin-top: 45px; margin-bottom: 45px;">
			<div class="col-md-3">
				<canvas id="java" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>JAVA</strong></div>
			</div>
			<div class="col-md-3">
				<canvas id="htmlCss" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>HTML5</strong>/<strong>CSS3</strong>/<strong>PHP</strong>/<strong>Mysql</strong>/<strong>JavaScript</strong></div>
			</div>

			<div class="col-md-3">
				<canvas id="linuxC" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>Linux</strong>/<strong>Language C</strong></div>
			</div>

			<div class="col-md-3">
				<canvas id="androidLatex" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>OracleSQL</strong>/<strong>Android</strong>/<strong>LaTex</strong></div>
			</div>
		</div>

		<div class="h2">Frameworks</div>
		<div class="row" style="margin-top: 45px; margin-bottom: 45px;">
			<div class="col-md-6">
				<canvas id="bootstrap" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>Bootstrap</strong></div>
			</div>
			<div class="col-md-6">
				<canvas id="angularjs" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>AngularJS</strong></div>
			</div>
		</div>

		<div class="h2">Logiciels de calcul scientifique</div>
		<div class="row" style="margin-top: 45px; margin-bottom: 45px;">
			<div class="col-md-6">
				<canvas id="scilabMaple" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>Scilab</strong>/<strong>Maple</strong></div>
			</div>
			<div class="col-md-6">
				<canvas id="matlab" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>Matlab</strong></div>
			</div>
		</div>

		<div class="h2">Logiciels de bureautique</div>
		<div class="row" style="margin-top: 45px; margin-bottom: 45px;">
			<div class="col-md-6">
				<canvas id="word" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>Word</strong></div>
			</div>
			<div class="col-md-6">
				<canvas id="powerPoint" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>PowerPoint</strong></div>
			</div>
		</div>

		<div class="h2">Réseau</div>
		<div class="row" style="margin-top: 45px; margin-bottom: 45px;">
			<div class="col-md-6">
				<canvas id="osi" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>Modèle OSI</strong></div>
			</div>
			<div class="col-md-6">
				<canvas id="protocole" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>SSH</strong>/<strong>ARP</strong>/<strong>ETHERNET</strong></div>
			</div>
		</div>

		<div class="h2">Langues</div>
		<div class="row" style="margin-top: 45px; margin-bottom: 45px;">
			<div class="col-md-4">
				<canvas id="fr" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>Français</strong></div>
			</div>
			<div class="col-md-4">
				<canvas id="en" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>Anglais</strong></div>
			</div>

			<div class="col-md-4">
				<canvas id="bm" width="100" height="100"></canvas>
				<div class="text-center" style="left: 0;"><strong>Bambara</strong></div>
			</div>
		</div>
	</div>
</section>

<!--Centre d'interêt-->
<section>
	<div class="jumbotron">
		<div class="h1">Centre d'interêt</div>
		<hr style="width: 100px; border-color: blue;">
		<div class="row" style="margin-top: 45px; margin-bottom: 45px;">
			<div class="col-md-4">
				<div>
					<img src="/images/programmation.jpg" alt="programmation" height="200" width="300">
				</div>
				<div class="text-center h2">Programmation</div>
			</div>

			<div class="col-md-4">
				<div>
					<img src="/images/techno.jpg" alt="Techologie" height="200" width="300">
				</div>
				<div class="text-center h2">Techologie</div>
			</div>

			<div class="col-md-4">
				<div>
					<img src="/images/musique.jpg" alt="Musique" height="200" width="300">
				</div>
				<div class="text-center h2">Musique</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div>
					<img src="/images/football.png" alt="FootBall" height="200" width="220">
				</div>
				<div class="text-center h2">FootBall</div>
			</div>
			<div class="col-md-4">
				<div>
					<img src="/images/cinema.jpg" alt="Cinéma" height="200" width="300">
				</div>
				<div class="text-center h2">Cinéma</div>
			</div>
		</div>
	</div>
</section>

<!--Qualités-->
<section>
	<div class="jumbotron">
		<div class="h1">Qualités</div>
		<hr style="width: 100px; border-color: blue;">
		<div class="row" style="margin-top: 45px; margin-bottom: 45px;">
			<div class="col-md-4">
				<div>
					<img src="/images/curieux.jpg" alt="Curieux" height="200" width="300">
				</div>
				<div class="text-center h2">Curieux</div>
			</div>

			<div class="col-md-4">
				<div>
					<img src="/images/joyeux.jpg" alt="Joyeux" height="200" width="200">
				</div>
				<div class="text-center h2">Joyeux</div>
			</div>

			<div class="col-md-4">
				<div>
					<img src="/images/ouvert.jpg" alt="Ouvert" height="200" width="250">
				</div>
				<div class="text-center h2">Ouvert</div>
			</div>
		</div>
	</div>
</section>