<!--
Acceuil avec mes infos persos
-->
<section style="height: 400px;">
	<div id="welcome" class="jumbotron">
		<span class="h2">{{name}}<br>{{job}}</span>

		<div class="row" style="margin-top: 50px;">
	        <div class="col-md-4">
	            <div><a href=""><i class="fa fa-facebook-square" style="font-size: 1.9em; color: black;"></i></a></div>
	        </div>

	        <div class="col-md-4">
	            <div><a href=""><i class="fa fa-twitter" style="font-size: 1.9em; color: black;"></i></a></div>
	        </div>

	        <div class="col-md-4">
	            <div><a href=""><i class="fa fa-linkedin" style="font-size: 1.9em; color: black;"></i></a></div>
	        </div>
	    </div>
	</div>
</section>

<!--
Formation
-->
<section style="">
	<div class="jumbotron">
		<div class="h1">Formation</div>
		<hr style="width: 100px; height: 50px; border-color: blue;">

		<div class="row">
			<div class="col-md-6 jumbotron">
				<div class="h3">Polytech Marseille</div>
				<div class="text-primary">4ème année Informatique - <span class="text-muted">2016-2019</span></div>
			</div>
			<div class="col-md-6 jumbotron">
				<div class="h3">UFR IM2AG(Informatique, Mathématiques et Mathématiques Appliquées de Grenoble)</div>
				<div class="text-primary">3ème année de licence Mathématiques et Informatique - <span class="text-muted">2015-2016</span></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 jumbotron">
				<div class="h3">UJF(Université Joseph Fourier de Valence) actuelle UGA(Université Grenoble Alpes)</div>
				<div class="text-primary">1ère et 2ème année de licence Mathématiques et Informatique - <span class="text-muted">2013-2015</span></div>
			</div>
			<div class="col-md-6 jumbotron">
				<div class="h3">LKDK(Lycée Koné Danzié de Koutiala) - Mali</div>
				<div class="text-primary">Baccalauréat scientifique(mention Bien) - <span class="text-muted">2012-2013</span></div>
				<div class="text-success lead">Bourse d'excellence du gouvernement Malien</div>
			</div>
		</div>

	</div>
</section>
<!--
Compétences
-->

<section>
	<div class="jumbotron">
		<div class="h1">Compétences</div>
		<hr style="width: 100px; height: 50px; border-color: blue;">
		<div class="row">
			<div class="col-md-4">
				<!-- <span class="chart" data-percent="60">
					<span class="percent">"60"</span>
					<div class="h3">java</div>
					<canvas height="150" width="150"></canvas>
				</span> --> 
				<canvas id="radar" class="chart chart-radar"
  chart-data="data" chart-options="options" chart-labels="labels">
</canvas>
			</div>
		</div>
	</div>
</section>